{% extends '../base.html' %}

{% load widget_tweaks %}

{% block title %}{{ title }}{% endblock title %}
{% block content %}
  <ul id="ifta-list" class="list-disc pl-5">
    {% for ifta in object_list %}
      <li>
        <a href="{% url 'testapp:ifta_detail' ifta.name %}"
           class="text-blue-600 hover:underline">{{ ifta.name.capitalize }}</a>
        : {{ ifta.get_fiqh_display }}
      </li>
    {% endfor %}
  </ul>
  <h2 class="text-lg font-semibold mt-4">Add new Ifta</h2>
  <form action="{% url 'testapp:ifta_create' %}"
        class="flex-row flex flex-1 gap-x-4 justify-left mt-2"
        method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.name.label_tag }}
      {% render_field form.name class+="text-lg bg-slate-200 border-0 px-2 py-1 rounded" %}
      {{ form.name.errors }}
    </div>
    <div class="mb-3">
      {{ form.fiqh.label_tag }}
      {% render_field form.fiqh class+="text-lg bg-slate-200 border-0 px-2 py-1 rounded" %}
      {{ form.fiqh.errors }}
    </div>
    <button type="submit"
            class="rounded-full bg-slate-300 mb-3 h-fit cursor-pointer px-4 py-2 self-center border-black border-2 hover:bg-slate-400 transition">Create</button>
  </form>
{% endblock content %}
