{% extends '../base.html' %}

{% load widget_tweaks %}
{% load partials %}

{% block title %}{{ title }}{% endblock title %}
{% block content %}
  <div id="list-container"
       class="w-[90dvw] bg-slate-100 min-h-[90dvh] flex flex-row gap-2 justify-center align-top">
    <div class=" w-[40dvw] mt-4 ">
      <h5 class="ml-[2%] mb-3">All Iftas</h5>
      <div id="ifta-list" class="flex flex-col gap-2">
        {% for ifta in object_list %}
          <div class="flex items-center justify-between p-3 bg-white border border-slate-200 rounded-lg shadow-sm hover:shadow transition">
            <span hx-get="{% url 'testapp:ifta_detail' ifta.name %}"
                  hx-target="#list-container"
                  hx-swap="outerHTML"
                  class="font-semibold text-slate-800 hover:cursor-pointer hover:text-blue-600 transition no-underline">
              {{ ifta.name.capitalize }}
            </span>
            <span class="bg-blue-50 text-blue-700 text-xs px-2.5 py-1 rounded-full font-medium border border-blue-100">
              {{ ifta.get_fiqh_display }}
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class=" w-[40dvw] border border-black px-[1rem] flex flex-col ">
      <h2 class="text-lg font-semibold mt-4">Add new Ifta</h2>
      {% include './partials/form.html#create_form' with form=form %}
    </div>
  </div>
{% endblock content %}
